@model IEnumerable<Test.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Session["UserId"] != null && Session["Role"].ToString() == "Admin")
{
    <p>
        <button type="button" class="btn btn-secondary" style="text-decoration:none">@Html.ActionLink("Create New User", "Create")</button>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEmailConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoB)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoB)
            </td>
            <td>
                @if (Session["UserId"] != null && Session["Role"].ToString() == "Employee")
                {
                    <button type="button" class="btn btn-info">@Html.ActionLink("Details", "Details", new { id = item.UserId })</button>
                }
                else
                {
                    <button type="button" class="btn btn-info">@Html.ActionLink("Details", "Details", new { id = item.UserId })</button>
                    <button type="button" class="btn btn-success">@Html.ActionLink("Edit", "Edit", new { id = item.UserId })</button>
                    <button type="button" class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.UserId })</button>
                }

            </td>
        </tr>
    }

</table>
